@page "/Hall/home"
@using Services.Shared.Data
@using System.Text.Json

@inject NavigationManager NavigationManager



<div class="container-fluid " style="margin-top:100px;margin-bottom:100px;direction:rtl">
    <Services.Client.Shared.TextMessage Message="@message" MessageType="@messageType"></Services.Client.Shared.TextMessage>
    <div class="row mt-3" style="display:@hide">
        <div class="col-12 d-flex align-content-end">
            <h2 style="color:#63a4ff">أحدث الخدمات المطلوبة:</h2>
        </div>
    </div>
    @if (halls.Count != 0)
    {
        foreach (var item in halls)
        {

            <div class="row mt-2">

                <div class="col-6 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 d-flex align-content-end">
                                    <img src="imgs/login.jpg" class="img-fluid img-style" />
                                </div>
                                <div class="col-8 ">
                                    <div class="row" style="width:100%">
                                        <div class="col-12  d-flex align-content-end">
                                            <a href="@($"/Hall/offer/{item.Id}")">@item.ServiceTitle</a>
                                        </div>

                                        <div class="col-6  d-flex align-content-end mt-1">

                                            <img src="icons/user.png" style="width:30px;height:30px" />

                                            <a href="@($"/User/personalData/{item.UserId}")">@item.UserName</a>


                                        </div>
                                        <div class="col-6  d-flex align-content-end mt-1">

                                            <img src="icons/clock.gif" style="width:30px;height:30px" />

                                            <p>منذ @item.TimeAdd.ToShortDateString()</p>


                                        </div>
                                        <div class="col-12  d-flex align-content-center text-justify mt-2">

                                            <p class="text-center text-justify" style="width:100%">
                                                @item.HallDescription.Substring(0, 100)

                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }

    }
    
</div>
   

@code
{
    HttpClient client = new HttpClient();

    List<HallViewModelResponse> halls = new List<HallViewModelResponse>();
    public string message = string.Empty;
    public string hide = "block";
    public AlertMessageType messageType = AlertMessageType.Error;


    protected override async Task OnInitializedAsync()
    {
        await LoadData();

    }

    public async Task LoadData()
    {
       
        var response = await client.GetAsync($"https://localhost:44312/api/Hall/getHalls");
        var contentString = await response.Content.ReadAsStringAsync();
        halls = JsonSerializer.Deserialize<List<HallViewModelResponse>>(contentString, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

        if (halls.Count==0)
        {
            message = "لا يوجد اية قاعات مخزنة";
            hide = "none";

        }

    }

}